<div *ngIf="viewMode; else editable">
  <div *ngIf="currentConsultation.id">
    <h4>Consultation</h4>
    <div>
      <label><strong>Title:</strong></label> {{ currentConsultation.title }}
    </div>
    <div>
      <label><strong>Description:</strong></label>
      {{ currentConsultation.description }}
    </div>
    <div>
      <label><strong>Status:</strong></label>
      {{ currentConsultation.published ? "Published" : "Pending" }}
    </div>

    <a
      class="badge badge-warning"
      routerLink="/consultations/{{ currentConsultation.id }}"
    >
      Edit
    </a>
  </div>

  <div *ngIf="!currentConsultation">
    <br />
    <p>Please click on a Consultation...</p>
  </div>
</div>

<ng-template #editable>
  <div *ngIf="currentConsultation.id" class="edit-form">
    <h4>Consultation</h4>
    <form>
      <div class="form-group">
        <label for="title">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          [(ngModel)]="currentConsultation.title"
          name="title"
        />
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input
          type="text"
          class="form-control"
          id="description"
          [(ngModel)]="currentConsultation.description"
          name="description"
        />
      </div>

      <div class="form-group">
        <label><strong>Status:</strong></label>
        {{ currentConsultation.published ? "Published" : "Pending" }}
      </div>
    </form>

    <button
      class="badge badge-primary mr-2"
      *ngIf="currentConsultation.published"
      (click)="updatePublished(false)"
    >
      UnPublish
    </button>
    <button
      *ngIf="!currentConsultation.published"
      class="badge badge-primary mr-2"
      (click)="updatePublished(true)"
    >
      Publish
    </button>

    <button class="badge badge-danger mr-2" (click)="deleteConsultation()">
      Delete
    </button>

    <button
      type="submit"
      class="badge badge-success mb-2"
      (click)="updateConsultation()"
    >
      Update
    </button>
    <p>{{ message }}</p>
  </div>

  <div *ngIf="!currentConsultation.id">
    <br />
    <p>Cannot access this Consultation...</p>
  </div>
</ng-template>
